/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.server.php
/.idea
/.vscode
dump.rdb
laravel-echo-server.json
laravel-echo-server.lock
bun.lockb
composer.lock
package-lock.json
docker/data
public/js/*
storage/*
/supervisord.log
/supervisord.pid
/horizon.log
public/dist
public/mix-manifest.json